:root {
  /* 
        TODO: All things typo-related
        TODO: All things color-related
        TODO: All things spacing-related
    */
}

* {
  /* TODO: box model */
}

html,
body {
}
